/ ==============================================================================
/ views - controller
/ ==============================================================================
p = "現在のページ: #{@current_max_page}"

p = "スライドURL: #{@slide_url}"
p = "コントロールページ: #{@controller_url}"

a href="/slide/#{@filename}/controller/#{@password}/prev" 戻る
| |
a href="/slide/#{@filename}/controller/#{@password}/next" 進む
